/**
 * @file
 * CSS file for wysiwyg plugin.
 */
.formforall-form {
	display:block;
	clear:both;
	min-height:80px;
	margin:1em;
	border:1px dashed red;
	background:lightgrey url(images/formforall_placeholder.png) center center no-repeat;
}